.registerPage {
  height: 1400px;
  background-color: #f3f3f7;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  &__wrapper {
    position: absolute;
    z-index: 1;
    height: 100%;

    img {
      width: 100%;
    }
  }
}
