@font-face {
  font-family: "Manrope";
  src: url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Poppins:wght@600&display=swap")
    format("woff2");
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "Manrope", sans-serif;
}

.paidCourseCard {
  width: 300px;
  height: 340px;
  flex-shrink: 0;
  border-radius: 20px;
  background: var(--secondary-primary-white, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  &_img {
    background-image: 100%;
    width: 280px;
    height: 180px;
    border-radius: 18px;
    margin-left: 10px;
    margin-top: 8px;
  }

  &_imgHeart {
    margin: -500px 0px 0px 240px;
    padding: 20px;
    align-items: flex-start;
    gap: 5.926px;
    border-radius: 8.296px;
    background: #fff;
    box-shadow: 0px 2.370370388031006px 11.851852416992188px 0px
      rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .red-heart {
    background-image: url("./assets/heart.svg");
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
  }

  .gray-heart {
    background-image: url("./assets/emptyheart.svg");
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
  }

  &_infoBlock {
    display: flex;
    flex-direction: column;
    margin-top: -25px;
    margin-left: 20px;
  }

  .cardName {
    margin-top: 8px;
    color: var(--dark, #161616);
    font-family: "Manrope", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .cardDesc {
    height: 55px;
    max-width: 260px;
    margin-top: 5px;
    color: var(--dark, #161616);
    font-family: "Manrope", sans-serif;
    opacity: 0.7;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.1;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 4.2em;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Устанавливаем максимальное количество строк */
    -webkit-box-orient: vertical;
  }

  /* Добавляем стили для троеточий внизу */
  .desc::after {
    content: "...";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 12px; /* Расстояние между текстом и троеточиями */
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 30%);
  }

  &_priceBlock {
    display: flex;
    margin-top: 6px;
  }

  .cardPrice {
    width: 50px;
    height: 24px;
    flex-shrink: 0;
    margin-top: 10px;
    color: var(--brand-color-2, #fd661f);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 19.681px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 25.022px */
  }

  &_btnC {
    color: white;
    display: flex;
    border-color: white;
    padding: 11px 15px;
    align-items: flex-start;
    // gap: 10px;
    border-radius: 8px;
    background: #2b59c3;
    margin-left: 110px;
    margin-top: 0px;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
  }
}
