.P-block {
  width: 296px;
  height: 428px;
  background-color: #ffffff;
  //   flex-shrink: 0;

  margin-left: 100px;

  display: flex;
  flex-direction: column;

  border-radius: 14px;
  background: #fff;

  /* effect */
  box-shadow: 0px 10px 60px 0px rgba(38, 45, 118, 0.08);
}

.P-img {
  background-image: 100%;
  width: 295px;
  height: 179px;
  border-radius: 14px 14px 0px 0px;
}

.P-info {
  display: flex;
  flex-direction: column;
  margin: 47px 9px 20px 17.5px;
}

.start-inf {
  width: 89.384px;

  color: var(--primary-primary-3, #777795);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 15px */
}

.name-inf {
  width: 264.267px;
  height: 53.692px;
  flex-shrink: 0;

  margin-top: 8px;

  color: #2b59c3;
  font-family: Manrope;
  font-size: 15.522px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%; /* 23.283px */
  letter-spacing: 0.388px;
}

.desc-inf {
  width: 251.691px;

  color: var(--grey-grey-2, #4d4d4d);
  font-family: Manrope;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 16px */
}

.actPrice-inf {
  width: 50px;
  height: 24px;
  flex-shrink: 0;

  color: var(--brand-color-2, #fd661f);
  font-family: Manrope;
  font-size: 16.681px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 25.022px */
}

.noPrice-inf {
  width: 47.68px;
  height: 22px;
  flex-shrink: 0;

  color: var(--black, #230f0f);
  font-family: Manrope;
  font-size: 14.828px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 22.242px */
  margin-top: 2px;
  margin-left: -14px;
}

.btn-inf {
  color: white;
  display: flex;
  border-color: white;
  padding: 10px 20px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 5px;
  background: #2b59c3;
  margin-left: 65px;
  margin-top: -10px;
  border: none;

  &:hover {
    background-color: #0056b3;
  }
}

.inf {
  display: flex;
  margin-top: 37px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 933px;
  height: 551px;
  flex-shrink: 0;

  border-radius: 10px;
  background: var(--unnamed, #fff);
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.15);

  h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;

    color: var(--unnamed, #000);
    font-family: Manrope;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 70% */
  }
}

.inps {
  display: flex;
  flex-direction: column;
}

.inp-name {
  width: 266.332px;
  height: 74.573px;
  flex-shrink: 0;

  border-radius: 28px;
  background: var(--unnamed, #f5f5f5);
  border: none;
  padding-left: 71px;
  font-size: 24px;
}

.inp-surname {
  width: 318.601px;
  height: 74.573px;
  flex-shrink: 0;

  border-radius: 28px;
  background: var(--unnamed, #f5f5f5);
  margin-top: 20px;
  border: none;
  padding-left: 71px;
  font-size: 24px;
}

.inp-number {
  width: 372.864px;
  height: 74.573px;
  flex-shrink: 0;

  border-radius: 28px;
  background: var(--unnamed, #f5f5f5);
  margin-top: 20px;
  border: none;
  padding-left: 71px;
  font-size: 24px;
}

.photo {
  margin-top: -35px;
  margin-left: 30px;
}

.general {
  display: flex;
  margin-top: 82px;
  margin-left: 55px;
}

.application {
  width: 200px;
  height: 50px;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 650px;

  &:hover {
    background-color: #0056b3;
  }
}

.x {
  margin-left: 900px;
  margin-top: 20px;
  cursor: pointer;
}
