.freeDetails {
  display: flex;
  flex-direction: column;
  gap: 20px;

  textarea {
    border: none;
    background-color: transparent;
    resize: none;
    overflow: hidden;
  }

  h4 {
    color: #000;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__information {
    padding: 20px;
    background-color: white;
    border-radius: 10px;

    &_title {
      display: grid;
      grid-template-columns: 80% 20%;
      align-items: center;
      textarea {
        color: #000;
        font-size: 48px;
        height: 80px;
        font-weight: 700;
      }

      button {
        width: fit-content;
        height: fit-content;
        padding: 10px 20px;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        border-radius: 10px;
        background: #2b59c3;
        justify-self: flex-end;
      }
    }

    &_description,
    &_lecture {
      p {
        font-weight: 700;
      }

      textarea {
        width: 100%;
        font-size: 18px;
      }
    }
  }

  &__playlist {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    h5 {
      text-align: center;
      margin: 50px 0;
      font-size: 36px;
    }

    &_header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        height: 100%;
        padding: 10px 20px;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        border-radius: 10px;
        background: #2b59c3;
      }
    }

    &_item:hover {
      background-color: #f5f5f5;
    }

    &_item {
      display: grid;
      grid-template-columns: 250px 1fr;
      gap: 20px;
      padding: 10px;
      border-radius: 10px;
      height: 180px;
      transition: 0.3s;

      img {
        cursor: pointer;
        min-width: 250px;
        height: 150px;
        object-fit: cover;
        border-radius: 10px;
      }

      .playlist__item {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &_title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          h5 {
            height: 26px;
            color: #000;
            font-size: 18px;
            font-weight: 700;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
          }

          .playlist__item_icon {
            font-size: 22px;
            cursor: pointer;
          }
        }

        p {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
        }
      }
    }
  }
}
