.detailsVidAndPlaylistContainer {
    display: flex;

    .detailsPlaylist {
        display: flex;
        flex-direction: column;

        .detailsPlaylistButtons {
            display: flex;
            
        }
    }
}