.navbar {
  width: 100%;
  padding: 28px;
  background-color: #1b1c1f;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  z-index: 1;
  height: 94px;
  img {
    cursor: pointer;
  }
  &__actions {
    display: flex;
    align-items: center;
    gap: 20px;
    &_avatar {
      display: flex;
      align-items: center;
      gap: 8px;
      cursor: pointer;

      span {
        color: #fff;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
}
