.commentSection {

    width: 45vw;
    
    .commentInput {
        width: 80%;
        padding: 10px 18px;
        border: 1px solid #E0E5ED;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-right: none;
    }

    .commentInput:focus {
        outline: none;
        border: 1px solid #2B59C3;
        border-right: none;
    }

    .commentButton {
        width: 20%;
        padding: 10px 18px;
        border: 1px solid #2B59C3;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        color: #2B59C3;
        background-color: #fff;
    }

    .commentButton:hover {
        cursor: pointer;
        background-color: #2B59C3;
        color: #fff;
    }
}

.commentsContainer {
    padding-top: 20px;

    h2 {
        padding-bottom: 10px;
    }
}