.testButton {
    a {
        text-decoration: none;
        color: #2B59C3;
        font-size: 16px;
    }

    button {
        padding: 8px 32px;
        border: 1px solid #2B59C3;
        border-radius: 10px;
        background-color: #fff;
    }

    button:hover {
        cursor: pointer;
        background-color: #2B59C3;
        
        a {
            color: #fff;
        }
    }
}