.PaidCourseList {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    margin-bottom: 60px;
  }
  &__wrapper {
    padding: 70px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 100px;
  }
}
